{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion des organismes de formations{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <div class="row d-flex">
            <div>
                <a class="mr-auto p-1 col-md-1" href="{{ path('home_admin') }}"><i
                            class="fas fa-arrow-circle-left faback"></i></a>
            </div>
            <div class="mr-auto col-xs-12 col-md-11 text-center">
                <h1>Gestion des centres de formation :</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="pt-5">
                <a href="{{ path('learningCenter_new') }} " class="btn btn-primary button-save">
                    Ajouter une formation
                </a>
            </div>
        </div>
        <section class="sectionSpace">
            <div class="row justify-content-center align-items-center mb-5">
                <div class="col-xs-8 col-md-5 d-flex">
                    <div class="admission-color valid"></div>
                    <p>Centres de formation validés</p>
                </div>
                <div class="col-xs-8 col-md-5 d-flex">
                    <div class="admission-color not-valid"></div>
                    <p>Centres de formation à valider</p>
                </div>
            </div>

            <table class="col-12 mx-auto table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Lien</th>
                    <th scope="col">Voir</th>
                    <th>Modifier</th>
                </tr>
                <tbody>
                {% for learningCenter in learningCenters %}
                    <tr class="{% if learningCenter.accepted == 0 %}not-valid{% else %}valid{% endif %}">
                        <th>{{ learningCenter.name }}</th>
                        <td>{{ learningCenter.mail }}</td>
                        <td>{{ learningCenter.link }}</td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('learning_center_show', {'id': learningCenter.id}) }}"><i
                                        class="far fa-eye eye-white"></i></a>
                        </td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('learning_center_admin_edit', {'id': learningCenter.id}) }}"><i
                                        class="fas fa-edit eye-white"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(learningCenters) }}
            </div>
        </div>

    </div>
{% endblock %}
