{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter un Organisme de Formation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mySelect2') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="col-xs-12 col-md-1" href="{{ path('learningCenter_admin') }}"><i class="fas fa-arrow-circle-left faback"></i></a>
            <h1 class="mx-auto title-form">Ajouter un nouvel organisme de Formation</h1>
        </div>
        {{ include('learning_center_admin/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mySelect2') }}
{% endblock %}