{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ learning_center.name }}{% endblock %}

{% block body %}
    <section>
        <div class="container learningCenter">
            <div class="row">
                <a class="col-xs-12 col-md-1" href="{{ path('learningCenter_admin') }}"><i class="fas fa-arrow-circle-left faback"></i></a>
            </div>
            <div class="row">
                <div class="learningInfo col-sm-12 col-md-6 col-lg-6">
                    <h2 class="learningName">{{ learning_center.name }}</h2>
                    <h3 class="learningMail">{{ learning_center.mail }}</h3>
                    <a class="learningLink" href="{{ learning_center.link }}">Voir le Site Web</a>
                </div>
                <div class="col-sm-12 col-md-6 offset-lg-2 col-lg-4">
                    <img class="imgLearningSchool" src="{% if learning_center.picture is empty %}
                                                            {{ asset('/build/images/defaultpicture.png') }}
                                                        {% else %}
                                                            {{ vich_uploader_asset(learning_center, 'pictureFile') }}
                                                        {% endif %} " alt="image de l'organisme {{ learning_center.name }}">
                </div>
            </div>

                <div class="learningJob">
                <p>Métiers concernés par la formation :</p>
                <ul>
                    {% for job in learning_center.jobs %}
                        <li>{{ job.name }}</li>
                    {% endfor %}
                </ul>
                </div>
                <div class ="row commentSpace justify-content-center">
                    {{ include('learning_center_admin/_form_accepted.html.twig') }}
                    {{ include('learning_center_admin/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

