{% extends 'layoutFront.html.twig' %}

{% block title %}Accueil - Métiers du Numérique{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <div class="row mb-5 mt-5 justify-content-center">
                <a class="col-xs-12 col-md-1" href="{{ path('job_index') }}"><i class="fas fa-arrow-circle-left faback"></i></a>
                <h1 class="col-xs-12 col-md-11">{{ job.videotitle }}</h1>
            </div>

            <div class="col-xs-12 col-md-8 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560"
                            height="315"
                            src="{{ job.video }}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <h4 class="mt-5">Description de la vidéo:</h4>
            <p>{{ job.videodescription }}</p>
            <div class="row justify-content-center">
                <a href="{{ path('job_show', {'id': job.id}) }}" class="btn-primary btn">En savoir plus...</a>
            </div>
            <hr class="d-none d-sm-block">
        </section>
        <div class="row">
            <div class="col-xs-12 col-lg-4 col-sm-12 marginImage">
                <img class="align-self-end mr-3 logo-home" src="http://image.noelshack.com/fichiers/2018/49/3/1544001708-imageedit-4-2153222355.png"
                     alt="Generic placeholder image">
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-12">

                <h2 class="mt-0">Notre Concept</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus nibh, lobortis
                    interdum
                    erat
                    vitae, tempus auctor neque.
                    Maecenas condimentum vitae turpis quis iaculis. Mauris scelerisque finibus velit, a sodales
                    nulla
                    laoreet non. Maecenas quis ligula
                    non eros posuere volutpat et eget ipsum. Phasellus luctus auctor augue eget condimentum.
                    Vestibulum
                    bibendum quam risus, eget iaculis nunc placerat at.
                    Etiam eu lacinia nisi, sodales eleifend ante. Quisque dignissim efficitur libero, malesuada
                    tincidunt augue aliquet id.
                    Praesent accumsan in eros ut blandit. Donec pellentesque mattis neque ut aliquet.
                    Suspendisse
                    potenti.</p>

                <p>Etiam venenatis tortor eu ligula tristique, a malesuada arcu ornare. Pellentesque fermentum
                    vitae
                    tortor non dapibus.
                    Quisque in mi dui. Proin lacinia tellus et suscipit vestibulum. Nam vehicula congue justo,
                    vel
                    commodo turpis sodales vel.
                    Donec vehicula tellus nunc, et pellentesque ligula sollicitudin vel. Proin et egestas lacus,
                    vitae
                    tristique magna.</p>
            </div>
        </div>
    </div>
</div>
    {% include 'partner/_slider.html.twig' %}



{% endblock %}
