{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion des Fiches Métiers{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid justify-content-between">
            <div class="row d-flex">
                <div>
                    <a class="mr-auto p-1 col-md-1" href="{{ path('home_admin') }}"><i class="fas fa-arrow-circle-left faback"></i></a>
                </div>
                <div class="mr-auto col-xs-12 col-md-8 text-center">
                    <h1>Gestion des Fiches Métiers :</h1>
                </div>
                <div class="col-sm-12 col-md-2">
                    <a href="{{ path('job_admin_new')}} ">
                        <button class="btn btn-primary button-save">Ajouter un nouveau Métier</button>
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-end mt-3">
                <div class="col-sm-12 col-md-2">
                    <a href="{{ path('category_admin_index')}} ">
                        <button class="btn btn-primary button-save">Accéder aux catégories</button>
                    </a>
                </div>
            </div>
        </div>
        <section class="sectionSpace">

            <table class="col-12 mx-auto table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Description</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                <tbody>
                {% for job in jobs %}
                    <tr class="">
                        <th>{{ job.name }}</th>
                        <td>{{ job.associatedCategory.name }}</td>
                        <td>{{ job.description }}</td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('job_show', {'id': job.id}) }}"><i class="far fa-eye"></i></a>
                        </td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1" href="{{ path('job_admin_edit', {'id': job.id}) }}" ><i class="fas fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            {{ include('job_admin/_delete_form.html.twig') }}
                        <td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="row justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(jobs) }}
            </div>
        </div>

    </div>
{% endblock %}

