{% if partners|length > 0 %}
    <section class="slider">
        <div class="container-fluid bg-gray">
            <div class="row justify-content-center slider-title">
                <h3>Nos partenaires</h3>
            </div>
            <div class='container-slider container'>
                <div class='single-item'>
                    {% for partner in partners %}
                        <div class="">
                            <a href="{{ partner.url }}" class="text-center mx-auto">
                                <img class="carousel-icon align-content-center"
                                     src="{% if partner.picture is empty %}
                                             {{ asset('/build/images/defaultpicture.png') }}
                                          {% else %}
                                             {{ asset("images/partners/") }}{{ partner.picture }}
                                          {% endif %}" alt="photo de {{ partner.name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
