{{ form_start(form) }}
<div class="row">
    <button class="btn buttonCategory btn-primary col-md-3 col-sm-12">{{ button_label|default('ajouter') }}</button>
    <div class="col-md-7 col-sm-12 newCategory">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

</div>
{{ form_end(form) }}

