{% extends 'layoutadmin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="sectionSpace">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <button class="btn buttonCategory col-4">{{ button_label|default('ajouter une categorie') }}</button>
                <div class="col-8 newCategory">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>

            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
