<div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
     id="pills-{{ category.id }}"
     role="tabpanel" aria-labelledby="pills-{{ category.id }}-tab">
    <div class="pannel-body">
        <div class="row justify-content-center">
            {% for job in jobs if job.associatedCategory.id == category.id %}
                <div class="pannel-body">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <figure class="info-card">
                            {% set imgPath = asset('/build/images/defaultjobpicture.png') %}
                            {% if job.picture is not empty %}
                            {% set imgPath = vich_uploader_asset(job, 'pictureFile') %}
                            {% endif %}
                            <img class="img-responsive" src="{{ imgPath }}" alt="photo de {{ job.name }}">
                            <figcaption class="info-card-details animate">
                                <div class="info-card-header">
                                    <div class="metacard">
                                        <h3 class="metacard">{{ job.name }}</h3>
                                        {% set nbComments = 0 %}
                                        {% for comment in job.associatedComments  if comment.accepted %}
                                            {% set  nbComments = nbComments + 1 %}
                                        {% endfor %}
                                        <i class="far fa-comment"></i>
                                        {{ nbComments }}
                                    </div>
                                </div>
                                <div class="info-card-detail">
                                    <p class="job-resum">{{ job.description }}...</p>
                                    <a href="{{ job.id }}" class="">
                                        <button type="button" class="btn btn-primary mx-auto">Voir la
                                            fiche
                                        </button>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

