{% extends 'layoutFront.html.twig' %}

{% block title %}{{ job.name }}{% endblock %}

{% block body %}

    <div class="container">
        {% if job.video is not empty %}
        <section>

            <div class="row d-flex">
                <a class="mr-auto p-1 col-md-1" href="{{ path('job_index') }}"><i
                            class="fas fa-arrow-circle-left faback"></i></a>
                <h2 class="mr-auto col-xs-12 col-md-11 text-center">{{ job.videotitle }}</h2>
            </div>

            <div class="col-xs-12 col-md-8 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560"
                            height="315"
                            src="{{ job.video }}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <h4 class="mt-5">Description de la vidéo:</h4>
            <p>{{ job.videodescription }}</p>
            <hr class="d-none d-sm-block">
        </section>
        {% else %}
        <section class="sectionSpace">
            {% endif %}
            <div class="row justify-content-center">
                {% if job.video is empty %}
                    <a class="col-xs-12 col-md-1" href="{{ path('job_index') }}"><i
                                class="fas fa-arrow-circle-left faback"></i></a>
                {% endif %}
                <h2 class="col-xs-12 col-md-11 mb-5 text-center">{{ job.name }}</h2>
            </div>
        </section>

        <div class="row justify-content-center">
        <img class="jobPicture col-xs-12 col-md-4 " src="{% if job.picture is empty %}
                                                                            {{ asset('/build/images/defaultjobpicture.png') }}
                                                                        {% else %}
                                                                           {{ vich_uploader_asset(job,'pictureFile')}}
                                                                        {% endif %}" alt="photo du metier de {{ job.name }}">
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <h4 class="mb-5 mt-4">Description du métier :</h4>
            </div>
        </div>
                    <p>{{ job.description|raw }}</p>


        <section class="sectionSpace">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 text-center">
                    {{ include ('company/button_company.html.twig') }}
                </div>
                <div class="col-sm-12 col-md-6 text-center">
                    {{ include ('learning_center/button_learning_center.html.twig') }}
                </div>

            </div>
        </section>
        <hr class="d-none d-sm-block">
    </div>

    <section class="sectionSpace text-center">
        <h2 class="mb-5">Ils vous parlent de leurs expériences : </h2>
        <div class="container-fluid">
            {% include 'job/loadComment.html.twig' %}
            <div class="container">
                <div class="sectionSpace">
                    <div class="row justify-content-around">
                        <div class="col-lg-4 col-md-12 text-center mb-3">
                            <button id="showMore" class="btn-primary btn">Voir plus de commentaires</button>
                        </div>
                        <div class="col-lg-4 col-md-12 text-center ">
                            <a href="{{ path('comment_new',{'job_id':job.id}) }}" class="btn-primary btn">Ajouter un
                                commentaire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

