{% extends 'layoutFront.html.twig' %}

{% block title %}{{ job.name }}{% endblock %}

{% block body %}

    <div class="container">
        {% if job.video is not empty %}
        <section>

            <div class="row mb-5 mt-5 justify-content-center">
                <a class="col-xs-12 col-md-1" href="{{ path('job_index') }}"><i
                            class="fas fa-arrow-circle-left faback"></i></a>
                <h1 class="col-xs-12 col-md-11">{{ job.videotitle }}</h1>
            </div>

            <div class="col-xs-12 col-md-8 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560"
                            height="315"
                            src="{{ job.video }}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <h4 class="mt-5">Description de la vidéo:</h4>
            <p>{{ job.videodescription }}</p>
            <hr class="d-none d-sm-block">
        </section>
        {% else %}
        <section class="sectionSpace">
            {% endif %}
            <div class="row justify-content-center">
                {% if job.video is empty %}
                    <a class="col-xs-12 col-md-1" href="{{ path('job_index') }}"><i
                                class="fas fa-arrow-circle-left faback"></i></a>
                {% endif %}
                <h2 class="col-xs-12 col-md-11 mb-5 text-center">{{ job.name }}</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-12 col-md-7">
                    <h4>Description du métier :</h4>
                    <p>{{ job.description }}</p>
                </div>
                <img class="jobPicture col-xs-12 col-md-4 mx-auto" src="{{ asset("images/jobs/") }}{{ job.picture }} ">
            </div>
        </section>

        <section class="sectionSpace">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-md-12 text-center">
                    {{ include ('company/button_company.html.twig') }}
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    {{ include ('learning_center/button_learning_center.html.twig') }}
                </div>
            </div>
        </section>
        <hr class="d-none d-sm-block">
    </div>

    <section class="sectionSpace text-center">
        <h2 class="mb-5">Ils vous parlent de leurs expériences : </h2>
        <div class="container-fluid">
            {% include 'job/loadComment.html.twig' %}
            <div class="container">
                <section class="sectionSpace">
                    <div class="row justify-content-around">
                        <div class="col-lg-4 col-md-12 text-center">
                            <button id="showMore" class="btn-primary btn">Voir plus de commentaires</button>
                        </div>
                        <div class="col-lg-4 col-md-12 text-center">
                            <a href="{{ path('comment_new',{'job_id':job.id}) }}" class="btn-primary btn">Ajouter un
                                commentaire</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}

