{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}

    <div class="row justify-content-center">
    <h1>{{ job.videotitle }}</h1>
    </div>

    <a href="{{ path('job_index') }}">back to list</a>

    <div class="col-xs-12 col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560"
                    height="315"
                    src="{{ job.video }}"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
        </div>
        <h3>Description de la video:</h3>
        <p>{{ job.videodescription }}</p>
    </div>
    <h2>{{ job.name }}</h2>
                <h3>Description du metier :</h3>
                <p>{{ job.description }}</p>


{% endblock %}

