{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.author) }}<i class="fas fa-asterisk"></i>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text prep-color"><i class="fas fa-user-circle"></i></span>
            </div>
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
        </div>
    </div>
</div>
<p class="checkboxTxt"><input type="checkbox" id="checkForm"> : Je souhaite éditer un organisme de formation ou une
    entreprise</p>
<div class="form-group form-checkbox" id="linkForm">
    {{ form_label(form.link) }}
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text prep-color"><i class="fas fa-link"></i></span>
            </div>
            {{ form_widget(form.link) }}
            {{ form_errors(form.link) }}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.subject) }}<i class="fas fa-asterisk"></i>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text prep-color"><i class="fas fa-envelope-open-text"></i></span>
            </div>
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.mail) }}<i class="fas fa-asterisk"></i>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text prep-color"><i class="fas fa-at"></i></span>
            </div>
            {{ form_widget(form.mail) }}
            {{ form_errors(form.mail) }}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.message) }}<i class="fas fa-asterisk"></i>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text prep-color"><i class="far fa-envelope"></i></span>
            </div>
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button class="btn btn-primary btn-contact">{{ button_label|default('Envoyer') }}</button>
</div>
{{ form_end(form) }}
