{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <section>
        <div class="container company">
            <div class="row">
                <div class="companyInfo col-sm-12 col-md-6 col-lg-6">
                    <h2 class="companyName">{{ company.name }}</h2>
                    <h3 class="companyMail">{{ company.mail }}</h3>
                    <a class="companyLink" href="{{ company.link }}"> Voir le Site Web</a>
                </div>
                <div class="col-sm-12 col-md-6 offset-lg-2 col-lg-4">
                    <img class="imgCompany" src="{{ asset("images/companies/")}}{{ company.picture }}"
                         alt="image de l'entreprise {{ company.name }}">
                </div>
            </div>

            <div class="companyJob">
                <p>Métiers de l'entreprise :</p>
                <ul>
                    {% for job in company.jobs %}
                        <li>{{ job.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="row commentSpace justify-content-center">
                {{ include('company_admin/_form_accepted.html.twig') }}
                {{ include('company_admin/_delete_form.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}


