<button class="btn btn-primary buttonModal"
        id="btn-modalCompany">{{ button_label|default('voir les entreprises') }}</button>
<div id="myModalCompany" class="overlayCompany">
    <a class="closebutton" id="closebtnCompany">&times;</a>
    <div class="container">
        <div class="modalSpace">
            <h1 class="modalTitle text-center">Liste des entreprises</h1>
            <div class="modalSpace"></div>
            <div class="row container marginLeft">
                {% for company in job.companies if company.accepted == true %}
                <div class="col-sm-12 col-md-6 mt-4 text-left ">
                            <img class="imgModal"
                                 src="{% if company.picture is empty %}
                                        {{ asset('/build/images/defaultpicture.png') }}
                                      {% else %}
                                        {{ vich_uploader_asset(company, 'pictureFile')}}
                                      {% endif %}">
                            <a class="linkBusiness" href="{{ company.link }}"
                               target="_blank">{{ company.name }}</a>
                        </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>