<button class="btn buttonModal"
        id="btn-modalCompany">{{ button_label|default('voir les entreprises') }}</button>
<div id="myModalCompany" class="overlayCompany">
    <a class="closebutton" id="closebtnCompany">&times;</a>
    <div class="container-fluid">
        <div class="modalSpace">
            <h1 class="modalTitle">Liste des entreprises</h1>
            <div class="modalSpace"></div>
            <div class="multiCol">
                {% for company in job.companies if company.accepted == true %}
                    <div class="row">
                        <div class="col-12 mt-4">
                            <img class="imgModal img-fluid"
                                 src="{{ asset('images/companies/'~company.picture)}}" alt="{{ company.name }}"/>
                            <a class="linkBusiness col-6" href="{{ company.link }}"
                               target="_blank">{{ company.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>