<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top" id="navbar">
    <a class="navbar-brand" href=" {{ path('home_admin') }}"><img src="http://image.noelshack.com/fichiers/2018/49/3/1544001708-imageedit-4-2153222355.png" class="logo-nav"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with  "job_admin" %} active {% endif %}" href="{{ path('job_admin') }}">Métier <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with  "comment_admin" %} active {% endif %}" href="{{ path('comment_admin') }}">Commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with  "learningCenter_admin" %} active {% endif %}" href="{{ path('learningCenter_admin') }}">Formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with  "company_admin" %} active {% endif %}" href="{{ path('company_admin') }}">Entreprise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with  "partner_new" %} active {% endif %}" href="{{ path('partner_new') }}">Partenaire</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item nav-log">
                <a class="nav-link text-right" href="{{ path('app_logout') }}">se déconnecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

