<button class="btn btn-primary buttonModal"
        id="btn-modalLearning">{{ button_label|default('voir les organismes de formation') }}</button>
<div id="myModalLearning" class="overlayLearning">
    <a class="closebutton" id="closebtnLearning">&times;</a>
    <div class="container">
        <div class="modalSpace">
            <h2 class="modalTitle text-center">Liste des organismes de formation</h2>
            <div class="modalSpace"></div>
            <div class="row container marginLeft">
                {% for learningCenter in job.learningCenters if learningCenter.accepted == true %}
                    <div class="col-sm-12 col-md-6 mt-4 text-left ">
                        <img class="imgModal"
                             src="{% set imgPath = asset('/build/images/defaultpicture.png') %}
{{ vich_uploader_asset(learningCenter,'pictureFile') }}
{% if learningCenter.picture is empty %}
{{ imgPath }}
{% endif %}" alt="{{ learningCenter.name }}"/>
                        <a class="linkBusiness" href="{{ learningCenter.link }}"
                           target="_blank">{{ learningCenter.name }}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>