<button class="btn buttonModal"
        id="btn-modalLearning">{{ button_label|default('voir les organismes de formation') }}</button>
<div id="myModalLearning" class="overlayLearning">
    <a class="closebutton" id="closebtnLearning">&times;</a>
    <div class="container-fluid">
        <div class="modalSpace">
            <h1 class="modalTitle">Liste des organismes de formation</h1>
            <div class="modalSpace"></div>
            <div class="multiCol">
                {% for learningCenter in job.learningCenters if learningCenter.accepted == true %}
                <div class="row">
                    <div class="col-12 mt-4">
                        <img class="imgModal img-fluid"
                             src="{{ asset('images/learningCenters/'~learningCenter.picture) }}" alt="{{ learningCenter.name }}"/>
                        <a class="linkBusiness col-6" href="{{ learningCenter.link }}"
                           target="_blank">{{ learningCenter.name }}</a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>