{% extends 'base.html.twig' %}

{% block title %}LearningCenter index{% endblock %}

{% block body %}
    <h1>LearningCenter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Mail</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for learning_center in learning_centers %}
            <tr>
                <td>{{ learning_center.id }}</td>
                <td>{{ learning_center.name }}</td>
                <td>{{ learning_center.picture }}</td>
                <td>{{ learning_center.mail }}</td>
                <td>{{ learning_center.link }}</td>
                <td>
                    <a href="{{ path('learning_center_show', {'id': learning_center.id}) }}">show</a>
                    <a href="{{ path('learning_center_edit', {'id': learning_center.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('learning_center_new') }}">Create new</a>
{% endblock %}
